useDynLib(RBerkeley)

export(
        ### Utility ###
        mkFlags,

        ### Cursor ###
        db_cursor,
        dbcursor_close,
        dbcursor_del,
        dbcursor_dup,
        dbcursor_get,
        dbcursor_put,
        dbcursor_set_priority,
        dbcursor_get_priority,

        ### Database ###
        db_create,
        db_open,
        db_close,
        db_truncate,

        db_exists,
        db_put,
        db_get,

        db_set_cachesize,
        db_get_cachesize,
        db_set_pagesize,
        db_get_pagesize,

        db_get_byteswapped,

        db_set_encrypt,

        db_set_lorder,
        db_get_lorder,

        ### Environments ###
        db_env_create
      )

